# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
env/
venv/
myenv/

# Model files
*.keras
*.h5

# OS-specific files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Logs and output files
*.log
